/*
Theme Name:     Black Belt Form Page Template
Theme URI:      https://judocanada.ca
Description:    A custom form for Judo Canada Black Belt Registration.
Author:         Louis-Simon Poulin
Author URI:     https://github.com/lspoulin
Template:       twentyseventeen
Version:        0.1
*/

@import url("../twentyseventeen/style.css");